@model List<Park>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">National Parks</h1>
</div>

@foreach (Park p in Model)
{
    <partial name="ParksSummary" model="p" />
    // go look for Park Summary. Send "b"
}
<script>
</script>
