@{
}

@model Park

<div class="card card-outline-primary m-1 p-1">
    <div class="p-1" style="background-color: darkseagreen">
        <h3 style="color:white;">@Model.Name</h3>
    </div>
    <ul>
        <li>Date: @Model.Date</li>
        <li>State: @Model.State</li>
    </ul>

</div>
