@{
}

@model Park


<div class="column">
    <div>
        <h3 style="text-align: center;">@Model.Name <img src="@Model.Image" width="50" height="50" /></h3>
    </div>
    <h4 style="color: white; text-align: center; background-color: darkseagreen">@Model.State , @Model.Date</h4>
</div>
